# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk


# Python build artifacts
__pycache__
*.pyc

# Build directories
_build/

# Generated PDF - ignore if don't want to commit PDFs
# *.pdf
.aider*
