{% raw %}
%-----------------------------------------------------------------------------------------------------------------------------------------------%
%	The MIT License (MIT)
%
%	Copyright (c) 2015 Jan Küster
%
%	Permission is hereby granted, free of charge, to any person obtaining a copy
%	of this software and associated documentation files (the "Software"), to deal
%	in the Software without restriction, including without limitation the rights
%	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
%	copies of the Software, and to permit persons to whom the Software is
%	furnished to do so, subject to the following conditions:
%	
%	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
%	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
%	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
%	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
%	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
%	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
%	THE SOFTWARE.
%	
%
%-----------------------------------------------------------------------------------------------------------------------------------------------%


%============================================================================%
%
%	DOCUMENT DEFINITION
%
%============================================================================%

%we use article class because we want to fully customize the page and dont use a cv template
\documentclass[10pt,A4]{article}


%----------------------------------------------------------------------------------------
%	ENCODING
%----------------------------------------------------------------------------------------

%we use utf8 since we want to build from any machine
\usepackage[utf8]{inputenc}

%----------------------------------------------------------------------------------------
%	LOGIC
%----------------------------------------------------------------------------------------

% provides \isempty test
\usepackage{xifthen}

%----------------------------------------------------------------------------------------
%	FONT
%----------------------------------------------------------------------------------------

% some tex-live fonts - choose your own

%\usepackage[defaultsans]{droidsans}
%\usepackage[default]{comfortaa}
%\usepackage{cmbright}
\usepackage[default]{raleway}
%\usepackage{fetamont}
%\usepackage[default]{gillius}
%\usepackage[light,math]{iwona}
%\usepackage[thin]{roboto} 

% set font default
\renewcommand*\familydefault{\sfdefault}
\usepackage[T1]{fontenc}

% more font size definitions
\usepackage{moresize}


%----------------------------------------------------------------------------------------
%	PAGE LAYOUT  DEFINITIONS
%----------------------------------------------------------------------------------------

%debug page outer frames
%\usepackage{showframe}			


%define page styles using geometry
\usepackage[a4paper]{geometry}

% for example, change the margins to 2 inches all round
\geometry{top=1.5cm, bottom=1.5cm, left=1.5cm, right=1.5cm}

%use customized header
\usepackage{fancyhdr}
\pagestyle{fancy}

%less space between header and content
\setlength{\headheight}{-5pt}


{% endraw %}
%customize entries left, center and right
\lhead{}
\chead{ \small{ {{ personal_info.name }}  $\cdot$ {{ personal_info.title }} $\cdot$ {{ personal_info.location }}  $\cdot$  \textcolor{sectcol}{\href{mailto: {{- personal_info.email -}} }{\textbf{ {{- personal_info.email -}} }}} }}
\rhead{}
{% raw %}


%indentation is zero
\setlength{\parindent}{0mm}

%----------------------------------------------------------------------------------------
%	TABLE /ARRAY DEFINITIONS
%---------------------------------------------------------------------------------------- 

%for layouting tables
\usepackage{multicol}
\usepackage{multirow}

%extended aligning of tabular cells
\usepackage{array}

\newcolumntype{x}[1]{%
>{\raggedleft\hspace{0pt}}p{#1}}%


%----------------------------------------------------------------------------------------
%	GRAPHICS DEFINITIONS
%---------------------------------------------------------------------------------------- 

%for header image
\usepackage{graphicx}

%for floating figures
\usepackage{wrapfig}
\usepackage{float}
%\floatstyle{boxed} 
%\restylefloat{figure}

%for drawing graphics		
\usepackage{tikz}
\usetikzlibrary{shapes, backgrounds,mindmap, trees}


%----------------------------------------------------------------------------------------
%	Color DEFINITIONS
%---------------------------------------------------------------------------------------- 

\usepackage{color}

%accent color
\definecolor{sectcol}{RGB}{255,150,0}

%dark background color
\definecolor{bgcol}{RGB}{110,110,110}

%light background / accent color
\definecolor{softcol}{RGB}{225,225,225}

%----------------------------------------------------------------------------------------
%	Functionality DEFINITIONS
%---------------------------------------------------------------------------------------- 

\usepackage{hyperref}
\usepackage[nolist]{acronym}
\usepackage{multibbl}
\usepackage{siunitx}

%============================================================================%
%
%
%	DEFINITIONS
%
%
%============================================================================%

%----------------------------------------------------------------------------------------
% 	HEADER
%----------------------------------------------------------------------------------------

% remove top header line
\renewcommand{\headrulewidth}{0pt}

%remove botttom header line
\renewcommand{\footrulewidth}{0pt}

% sexy page numbering: show page numbers in the right footer in a stylish way
\renewcommand{\thepage}{\arabic{page}}
\fancyfoot[R]{\textsf{\textcolor{sectcol}{\small\textit{Page \thepage}}}}
% remove default center page numbering
\fancyfoot[C]{}

%remove section num		
\renewcommand{\thesection}{}

%----------------------------------------------------------------------------------------
% 	ARROW GRAPHICS in Tikz
%----------------------------------------------------------------------------------------

% a six pointed arrow poiting to the left
\newcommand{\tzlarrow}{(0,0) -- (0.2,0) -- (0.3,0.2) -- (0.2,0.4) -- (0,0.4) -- (0.1,0.2) -- cycle;}

% include the left arrow into a tikz picture
% param1: fill color
%
\newcommand{\larrow}[1]
{\begin{tikzpicture}[scale=0.58]
                \filldraw[fill=#1!100,draw=#1!100!black]  \tzlarrow
        \end{tikzpicture}
}

% a six pointed arrow poiting to the right
\newcommand{\tzrarrow}{ (0,0.2) -- (0.1,0) -- (0.3,0) -- (0.2,0.2) -- (0.3,0.4) -- (0.1,0.4) -- cycle;}

% include the right arrow into a tikz picture
% param1: fill color
%
\newcommand{\rarrow}
{\begin{tikzpicture}[scale=0.7]
                \filldraw[fill=sectcol!100,draw=sectcol!100!black] \tzrarrow
        \end{tikzpicture}
}



%----------------------------------------------------------------------------------------
%	custom sections
%----------------------------------------------------------------------------------------

% create a coloured box with arrow and title as cv section headline
% param 1: section title
%
\newcommand{\cvsection}[1]
{
        \colorbox{sectcol}{\mystrut \makebox[1\linewidth][l]{
                        \larrow{bgcol} \hspace{-8pt} \larrow{bgcol} \hspace{-8pt} \larrow{bgcol} \textcolor{white}{\textbf{#1}}\hspace{4pt}
                }}\\
        \nopagebreak[4]
}

%create a coloured arrow with title as cv meta section section
% param 1: meta section title
%
\newcommand{\metasection}[2]
{
\begin{tabular*}{\textwidth}{p{2.4cm}p{11cm}}
        \larrow{bgcol}\normalsize{\textcolor{sectcol}{#1:}} & #2 \\[12pt]
\end{tabular*}
}

%----------------------------------------------------------------------------------------
%	 CV EVENT
%----------------------------------------------------------------------------------------

{% endraw %}

{% macro show_detail(detail) %}
{%- if detail is string -%}
{{- detail -}}
{%- elif detail is mapping -%}
{%- for key, value in detail.items() -%}
\textbf{ {{- key -}}: } {{- value -}}
{%- endfor -%}
{%- endif -%}
{% endmacro %}

{% macro cv_event(event) %}
\begin{samepage}
        \vspace{8pt}
        \begin{tabular*}{1\textwidth}{p{2.3cm}  p{8.8cm} x{5.9cm}}
                \textcolor{bgcol}{ {{- event.date -}} }& \textbf{ {{- event.title -}} } & \vspace{2.5pt}\textcolor{sectcol}{\textit{ {{- event.location -}} }}

        \end{tabular*}
        \vspace{-12pt}
        \textcolor{softcol}{\hrule}
        \vspace{6pt}
        \begin{tabular*}{1\textwidth}{p{2.3cm} p{14.4cm}}
                {% for detail in event.details -%}
                &		 \larrow{bgcol} {{- show_detail(detail) -}}\\[3pt]
                {% endfor -%}
        \end{tabular*}
\end{samepage}
{% endmacro %}

{% raw %}

% creates a stretched box as 
\newcommand{\cveventmeta}[2]
{
        \mbox{\mystrut \hspace{87pt}\textit{#1}}\\
        #2
}

%----------------------------------------------------------------------------------------
% CUSTOM STRUT FOR EMPTY BOXES
%----------------------------------------- -----------------------------------------------
\newcommand{\mystrut}{\rule[-.3\baselineskip]{0pt}{\baselineskip}}

%----------------------------------------------------------------------------------------
% CUSTOM LOREM IPSUM
%----------------------------------------------------------------------------------------
\newcommand{\lorem}
{Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.}

\sisetup{
        group-separator = {.},
        group-minimum-digits = 4
}


%============================================================================%
%
%
%
%	DOCUMENT CONTENT
%
%
%
%============================================================================%
\begin{document}


%use our custom fancy header definitions
\pagestyle{fancy}


%---------------------------------------------------------------------------------------
%	TITLE HEADLINE
%----------------------------------------------------------------------------------------
\vspace{-20.55pt}

% use this for multiple words like working titles etc.
%\hspace{-0.25\linewidth}\colorbox{bgcol}{\makebox[1.5\linewidth][c]{\hspace{46pt}\HUGE{\textcolor{white}{\textsc{Jan Küster}} } \textcolor{sectcol}{\rule[-1mm]{1mm}{0.9cm}} \parbox[b]{5cm}{   \large{ \textcolor{white}{{IT Consultant}}}\\
% \large{ \textcolor{white}{{Resume}}}}
%}}

{% endraw %}
% use this for single words, e.g. CV or RESUME etc.
\hspace{-0.25\linewidth}\colorbox{bgcol}{\makebox[1.5\linewidth][c]{\HUGE{\textcolor{white}{\textsc{ {{- personal_info.name -}} }} } \textcolor{sectcol}{\rule[-1mm]{1mm}{0.9cm}} \HUGE{\textcolor{white}{\textsc{CV}} } }}
{% raw %}

%----------------------------------------------------------------------------------------
%	HEADER IMAGE
%----------------------------------------------------------------------------------------

{% endraw %}
\begin{figure}[H]
        \begin{flushright}
                \begin{tikzpicture}
                        \clip (0,0) circle (1.7cm); % adjust radius as needed
                        \node[inner sep=0] {\includegraphics[width=0.2\linewidth]{ {{- personal_info.image_path -}} }};
                \end{tikzpicture}
        \end{flushright}
\end{figure}
{% raw %}

%---------------------------------------------------------------------------------------
%	QR CODE (optional)
%----------------------------------------------------------------------------------------
%\vspace{-136pt}
%\hspace{0.75\linewidth}
%\includegraphics[width=103pt]{qrcode}
%\normalsize
%\vspace{88pt}

%---------------------------------------------------------------------------------------
%	META SECTION
%----------------------------------------------------------------------------------------

\vspace{-124pt}

{% endraw %}
{% for label, value in personal_info.highlights.items() %}
\metasection{ {{- label -}} }{ {{- value -}} }
{% endfor %}
{% raw %}

\vspace{6pt}

%---------------------------------------------------------------------------------------
%	SUMMARAY (optional)
%----------------------------------------------------------------------------------------

%\cvsection{Summary}\\
%I am a digital media graduate (M.Sc.) with project experience in educational research as well as in the private sector. During my studies I focused on e-assessment software and moved over to b2b software for IBM Notes Domino.

%Currently I develop and evaluate the next generation learning management system with Meteor based on an extensive nursing curriculum for healthcare education.  I also love fitness, martial arts, videogames, news and Sci-Fi series.\\[-2pt]

%============================================================================%
%
%	CV SECTIONS AND EVENTS (MAIN CONTENT)
%
%============================================================================%

% %---------------------------------------------------------------------------------------
% %	SUMMARY
% %----------------------------------------------------------------------------------------
% \cvsection{Summary}

% {% endraw %}
% {{ personal_info.summary }}
% {% raw %}
% \vspace{6pt}

%---------------------------------------------------------------------------------------
%	AWARDS
%----------------------------------------------------------------------------------------
\cvsection{Awards}

{% endraw %}
{%- for award in awards %}
{{- cv_event(award) -}}
{%- endfor %}
{% raw %}

%---------------------------------------------------------------------------------------
%	EXPERIENCE
%----------------------------------------------------------------------------------------
\cvsection{Experience}

{% endraw %}
{%- for job in experience %}
{{- cv_event(job) -}}
{%- endfor %}
{% raw %}

%---------------------------------------------------------------------------------------
%	INVITED TALKS
%----------------------------------------------------------------------------------------
\cvsection{Invited Talks}

{% endraw %}
{%- for talk in invited_talks %}
{{- cv_event(talk) -}}
{%- endfor %}
{% raw %}


%---------------------------------------------------------------------------------------
%	EDUCATION
%----------------------------------------------------------------------------------------
\cvsection{Education}

{% endraw %}
{%- for stage in education %}
{{- cv_event(stage) -}}
{%- endfor %}
{% raw %}

%---------------------------------------------------------------------------------------
%	CONFERENCE ORGANIZATION
%----------------------------------------------------------------------------------------
\cvsection{Organization of Scientific Events}

{% endraw %}
{%- for event in conference_organization %}
{{- cv_event(event) -}}
{%- endfor %}
{% raw %}

%---------------------------------------------------------------------------------------
%	SUMMER SCHOOLS
%----------------------------------------------------------------------------------------
\cvsection{Summer Schools}

{% endraw %}
{%- for event in summer_schools %}
{{- cv_event(event) -}}
{%- endfor %}
{% raw %}

%---------------------------------------------------------------------------------------
%	TEACHING
%----------------------------------------------------------------------------------------
\cvsection{Teaching}

{% endraw %}
{%- for event in teaching %}
{{- cv_event(event) -}}
{%- endfor %}
{% raw %}

%---------------------------------------------------------------------------------------
%	REVIEWER DUTY
%----------------------------------------------------------------------------------------
\cvsection{Reviewer Duty}

{% endraw %}
\metasection{Journals}{ {{ ', '.join(review_journals) }} }
\metasection{Conferences}{ {{ ', '.join(review_conferences) }} }
{% raw %}

%---------------------------------------------------------------------------------------
%	LANGUAGES
%----------------------------------------------------------------------------------------
\cvsection{Languages}

{% endraw %}
{%- for language, data in languages.items() %}
\larrow{bgcol} \textbf{ {{- language -}}: } {{- data.level -}}, ({{- ', '.join(data.justifications) -}})\\[6pt]
{%- endfor %}
{% raw %}

%---------------------------------------------------------------------------------------
%	HOBBIES
%----------------------------------------------------------------------------------------
\cvsection{Hobbies}

{% endraw %}
{%- for hobby in hobbies %}
\larrow{bgcol} \textbf{ {{- hobby.name -}}: } {{- hobby.description -}}\\[6pt]
{%- endfor %}
{% raw %}
{%- endfor %}
{% raw %}

{% endraw %}
{% for collection in paper_collections %}
\cvsection{ {{- collection.name -}} }


{% if loop.first %}
\metasection{Citations}{\num{ {{ impact.google_scholar.citations }} } citations, h-index: \num{ {{ impact.google_scholar.h_index }} }, i10-index: \num{ {{ impact.google_scholar.i10_index }} }~(Google scholar, last update: {{ impact.google_scholar.date }})}\\
{% for detail in impact.details %}
{% for key, value in detail.items() %}
\metasection{ {{- key -}}}{ {{- value -}} }
{% endfor %}
{% endfor %}
{% endif %}

\newbibliography{ {{- collection.id -}} }
\bibliographystyle{ {{- collection.id -}} }{plainyr-rev}

\nocite{ {{- collection.id -}} }{*}

\begingroup
\renewcommand{\section}[2]{}%
\bibliography{ {{- collection.id -}} }{ {{- collection.file -}} }{References to books}
\endgroup
{% endfor %}
{% raw %}


%---------------------------------------------------------------------------------------
%	ACRONYMS
%----------------------------------------------------------------------------------------

{% endraw %}
\begin{acronym}
        {%- for acro, data in acronyms.items() %}
        {%- if 'url' in data %}
        \acro{ {{- acro -}} }[\textbf{\href{ {{- data.url -}} }{ {{- acro -}} }}]{ {{- data.fullname -}} }
        {%- else %}
        \acro{ {{- acro -}} }[\textbf{ {{- acro -}} }]{ {{- data.fullname -}} }
        {%- endif %}
        {%- endfor %}
\end{acronym}
{% raw %}


%============================================================================%
%
%
%
%	DOCUMENT END
%
%
%
%============================================================================%
\end{document}

{% endraw %}
